  <div class="filters" id="popup">
    <h4>Hide/Show Columns:</h4>
    <div class="field_filters">
      <form>
        <label>
          <input type="checkbox" id="demographic_fields_form" onclick="select_all('#demographic_fields')" checked="true"/> Select all
         </label><br/>
        <fieldset style="display: inline-block;" id="demographic_fields">
            <legend>Demographics Fields</legend>
            <label><input type="checkbox" name="1" checked="true"/> Name</label></br>
            <label><input type="checkbox" name="2" checked="true"/> Gender</label></br>
            <label><input type="checkbox" name="3" checked="true"/> Start Date</label></br>
            <label><input type="checkbox" name="4" checked="true"/> End Date</label></br>
        </fieldset>
      </form>
      <form>
        <label>
            <input type="checkbox" id="medical_fields_form" onclick="select_all('#medical_fields')" checked="true"/> Select all
        </label></br>
        <fieldset style="display: inline-block;" id="medical_fields">
            <legend>Medical Fields</legend>
            <label><input type="checkbox" name="5" checked="true"/> Diagnosis</label></br>
            <label><input type="checkbox" name="6" checked="true"/> Vaccination</label></br>
            <label><input type="checkbox" name="7" checked="true"/> Allergies</label></br>
            <label><input type="checkbox" name="8" checked="true"/> Weight</label></br>
        </fieldset>
      </form>
      <form style="display: inline; float:left">
        <label>
            <input type="checkbox" id="social_fields_form" onclick="select_all('#social_fields')" checked="true"/> Select all
            </label></br>
        <fieldset style="display: inline-block;" id="social_fields">
            <legend>Social Fields</legend>
            <label><input type="checkbox" name="9" checked="true"/> Housing</label></br>
            <label><input type="checkbox" name="10" checked="true"/> Income</label></br>
            <label><input type="checkbox" name="11" checked="true"/> DOB</label></br>
            <label><input type="checkbox" name="12" checked="true"/> Race</label></br>
        </fieldset>
      </form>
    </div>
    
    <button class="option-button" style="position:fixed; bottom:0; right:0" onclick="hide_columns()">OK</button>
  </div>
  