  <div class="filters sliding" id="popup">
    <div class="field_filters">
      <h4>Hide/Show Columns:</h4>
      <form>
        <label>
          <input type="checkbox" id="demographic_fields_form" onclick="select_all('#demographic_fields')" checked/> Select all
        </label><br/>
        <fieldset style="display: inline-block;" id="demographic_fields">
          <legend>Demographics Fields</legend>
          <label><input type="checkbox" name="1" value="demographic" checked="true" onclick="deselect('demographic')"/> Name</label></br>
          <label><input type="checkbox" name="2" value="demographic" checked="true" onclick="deselect('demographic')"/> Gender</label></br>
          <label><input type="checkbox" name="3" value="demographic" checked="true" onclick="deselect('demographic')"/> Start Date</label></br>
          <label><input type="checkbox" name="4" value="demographic" checked="true" onclick="deselect('demographic')"/> End Date</label></br>
        </fieldset>
      </form>
      <form>
        <label>
          <input type="checkbox" id="medical_fields_form" onclick="select_all('#medical_fields')" checked="true"/> Select all
        </label></br>
        <fieldset style="display: inline-block;" id="medical_fields">
          <legend>Medical Fields</legend>
          <label><input type="checkbox" name="5" value="medical" checked="true" onclick="deselect('medical')"/> Diagnosis</label></br>
          <label><input type="checkbox" name="6" value="medical" checked="true" onclick="deselect('medical')"/> Vaccination</label></br>
          <label><input type="checkbox" name="7" value="medical" checked="true" onclick="deselect('medical')"/> Allergies</label></br>
          <label><input type="checkbox" name="8" value="medical" checked="true" onclick="deselect('medical')"/> Weight</label></br>
        </fieldset>
      </form>
      <form style="display: inline;">
        <label>
          <input type="checkbox" id="social_fields_form" onclick="select_all('#social_fields')" checked="true"/> Select all
          </label></br>
        <fieldset style="display: inline-block;" id="social_fields">
            <legend>Social Fields</legend>
            <label><input type="checkbox" name="9" value="social" checked="true" onclick="deselect('social')"/> Housing</label></br>
            <label><input type="checkbox" name="10" value="social" checked="true" onclick="deselect('social')"/> Income</label></br>
            <label><input type="checkbox" name="11" value="social" checked="true" onclick="deselect('social')"/> DOB</label></br>
            <label><input type="checkbox" name="12" value="social" checked="true" onclick="deselect('social')"/> Race</label></br>
        </fieldset>
      </form>
    </div>
    
    <div class="input_filters">
    <h4 style="margin-left:15px">Filter</h4>
    <%= form_tag patients_path, :method => "get", :id => "date_filter" do %>
      <span style="float:left; margin-right:5px"><label>Start date</label><br>
      <%= date_field_tag :start_date, params[:start_date] %><br>
      </span>
      <label>End date</label><br>
        <%= date_field_tag :end_date, params[:end_date] %><br>
      <%= submit_tag "OK", :onclick=>"get_checkboxes()", :class=>"option-button", remote:true %>
    <% end %>
    </div>
  </div>
  