<div class="scrolling_table">
  <table id="patients_table">
    <tbody>
      <% @patients.each do |patient| %>
        <tr>
            <td><%= patient.name %></td>
            <td><%= patient.gender %></td>
            <td><%= patient.start_date.strftime("%Y-%b-%d") %></td>
            <td style="border:none"><%= patient.end_date.strftime("%Y-%b-%d") %></td>  
        </tr>
    <% end %>
   </tbody>
  </table>
</div> 