 <div id="import_view">
    <h4> Please select an Excel sheet</h4>
        <%= form_tag import_excel_patients_path, multipart: true do %>
            <%= file_field_tag :file %>
            <%= submit_tag "Import" %>
        <% end %>
 </div>