<div class="content">
  <h1>Reports</h1>
  <div class="panels" id="index_panels">
    <div class="panel_container index" id="panel_filter">
      <%= button_to download_report_patients_path, :id=>"download_button", :method=>:post do %>
      <div class="panel shade_1">
        <img class="icon icons8-Combo-Chart" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAACZklEQVRoQ+1YgTEEQRDsjwARIAMyIAJEgAgQASJABIgAESACRIAMiIDqMvs1v3/7s/u/d26v9qq+rup/6nZ6uqdn7kcYyDUaCA6UBmQLwLUU/xDAkyOiNCDvANYk+Q8A66UC+QKwJMl/KlBFSWsXwJ0CcVCitJYBUFa8nwC49E2qlB55BMBGf5b7lNmWAOQYwAWAb+kJ9klxQDYAvEjWewDuQ3Ovz4ywHygpgrkCQGaCV9tA3ABjUqzoeIBFbBRs6CMAb9IXjZLqao4EB5gBRFvtJoBXC3ibjJANSkNfnMZnAG5nJGZabZfNTklor6fjUBqrar0IATKttgsgrCaXOkqD17kw4M7mNCaAEKCQ1f4Y0hrllBbdhSB4JwNMOmSXTYBYBH54+VbbGRAyQBBMhC7DRM0GlTjNEEFQgiseAw6IX/jx9zkYOVXyeZDkZlplg0xoAk5uE1utxLYGRDPg8mpc5izblN/pcJQhCzCx1bYJhC82dBb3gsOzthOHXSS+cVhWRnakWs6R3ClNUkhN1IpfGAirvi8ANAMcaAQUkoKVWOrvyUD0bsS9SFefleeQuxEAqcksEp8MRO9G7mBWn8mnLHym7yeiSgbiv9xzuKVaKXP8dyCUFqvPwUZZpbCgi2xWsG1GEp8fDK9AAqUxC5NjRWk62zzYm9ghal1+5vMqEKOZzArG7lCxcamMxNpqBRJgwCzMvIwEX3BipZA7bnBAeqv9WOZ8n17Yz2MPzh0XPXByH5z7eRWIp0HfHk27rIxMVnDqf63OK1gZqYz8VaD37tb7BGN7abBAYleU3sXNu2v1DsgvcwMrQn62lE8AAAAASUVORK5CYII=" width="50" height="50">
        <div class="panel_content">Create a Report</div></div><%end%>
    </div>
  </div>
  <div class="filters">
    <%= render :partial=>"/patients/reports.html.erb" %>  
  </div>
</div>


