<div class="content">
  <h1>Patient Profile</h1>
  <div class="panels" id="index_panels">
    <div class="panel_container index" id="panel_filter">
      <button onclick="window.location = '/patients/overview';" type="button" id="back_button"><div class="panel shade_1">
        <div class="panel_content">Back</div></div></button>
    </div>
  </div>
  <lj-raw>
<lj-cut>

<div class="report_container">

<div class="report_tabs">
  <div class="report_tabs_filler"> </div>
  <a href="#1" class="report_anchor">RESIDENT INFORMATION</a>
  <a href="#2" class="report_anchor">ADDITIONAL CLINICAL DATA</a>
</div>


<div class="info_section_container">
<a name="1"></a><div class="info_section">
<span class="section_header style1">RESIDENT INFORMATION</span>

<br/>

<table cellspacing="5px" class="patient_record_table">
<tr>
<td class="title">NAME</td>
<td class="data"><%= @patient.name%></td>
<td class="title">OCCUPATION</td>
<td class="data">JOB</td>
</tr>
<tr>
<td class="title">NICKNAME(S)</td>
<td class="data">OTHER NAMES/CODENAME</td>
<td class="title">PARENTS</td>
<td class="data">MOTHER, FATHER</td>
</tr>
<tr>
<td class="title">Start Date</td>
<td class="data"><%= @patient.start_date %></td>
<td class="title">End Date</td>
<td class="data"><%= @patient.end_date %></td>
</tr>
<tr>
<td class="title">DOB</td>
<td class="data">MM/DD/YYYY</td>
<td class="title">RELATIVES</td>
<td class="data">AUNTS, UNCLES</td>
</tr>
<tr>
<td class="title">AGE</td>
<td class="data">33</td>
<td class="title">MARITAL STATUS</td>
<td class="data">MARRIED? SINGLE?</td>
</tr>
<tr>
<td class="title">RESIDENCE</td>
<td class="data">PLACE</td>
<td class="title">SPOUSE</td>
<td class="data">SIGNIFICANT OTHER</td>
</tr>
</table>


</div>

<a name="2"></a><div class="info_section">
<span class="section_header style1">ADDITIONAL CLINICAL DATA</span>
WRITE YOUR CHARACTER'S PERSONALITY HERE.
</div>



</div>

</div>

<div class="report_footer">
<!-- ▼▼▼ LEAVE THIS ALONE ▼▼▼ -->
<a href="http://iheartunicorns.insanejournal.com" style="color:#C6BAC0; font-family:Georgia, serif; font-style:italic; text-decoration:none; text-transform:lowercase;" title="biosheet by...">IHEARTUNICORNS</a>
<!-- ▲▲▲ LEAVE THIS ALONE ▲▲▲ -->
</div>

</lj-cut>
</lj-raw>
</div>