/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#welcome_login{
    width:25%;
    height:25%;
    margin:auto;
    position:relative;
}

.option-button {
  position:fixed;
  display:block;
  top:2%;
  height:20px;
  font-size:14px;
  cursor: pointer;
  text-align: left;
  float:left;
  background-color:transparent;
  text-shadow: none;
  border: none;
  border-radius: 0px;
  padding-right: 1px;
  padding-left: 1px;
  z-index: 45;
  color:#555;
}

.header{
    top:8%;
    display:block;
    border:none;
}
