/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html{
    overflow: auto;
}

body{
    position: absolute;
    margin:0px;
    padding:0px;
    top:0;
    left:0;
    width:100%;
    height:100%;
    font-size: 20px;
    font-family: 'Open Sans', 'Trebuchet MS', Helvetica, Garuda, sans-serif;
    z-index: 1;
    font-weight: lighter;
    background:transparent;
}

table img {
    max-height: 100%;
    max-width: 100%;
}

label{
    font-size:14px;
}

a, input {
    color:black;
    text-decoration: none;
}

fieldset {
    width:135px;
}

td button,
td a{
    top:0;
    background:none!important;
    border:none; 
    padding:0!important;
    font: inherit;
    text-align:center;
    cursor:pointer;
    height:80px;
    vertical-align:top;
    color:white;
    text-decoration: none;
}


/** App header **/
.header{
    position:fixed;
    top:0;
    left:0;
    height:25%;
    width:100%;
    background-color: rgb(0,105,73);
    -webkit-box-shadow: 0px 0px 10px  #888888;
    -moz-box-shadow: 0px 0px 10px  #888888;
     box-shadow: 0px 0px 10px #888888;
}

.header span{
    position: absolute;
    text-align: left;
    bottom:0;
}

/** App Content **/
.background{
    background-color: rgb(0, 105, 74);
    background-image: -webkit-linear-gradient(top,rgb(0, 105, 74), rgb(255, 255, 254));
    background-image: -moz-linear-gradient(top,rgb(0, 105, 74), rgb(255, 255, 254));
    background-image: -o-linear-gradient(top,rgb(0, 105, 74), rgb(255, 255, 254));
    background-image: -ms-linear-gradient(top,rgb(0, 105, 74), rgb(255, 255, 254));
    width:100%;
    height:100%;
}
.content{
    font-size: 14px;
    height:75%;
    width:100%;
    position:absolute;
    border:none;
    padding:0;
    margin:none;
    top:25%;
    background-color: transparent;
}

.half-width, .half-width-shifted{
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%,-50%);
    width:450px;
    text-align: left;
}

.half-width-shifted img{
    float:left;
    position: relative;
    top:5px;
}

.half-width-shifted{
    width:550px;
}

.half-width{
    padding:40px 80px 40px 80px;
    border:1px solid rgb(0,105,73);
    border-radius:5px;
    background-color:rgb(255,255,254);
    color:black
}

.flash{
    position:relative;
    margin-left: auto;
    margin-right: auto;
    bottom:0px;
    color:rgb(245,255,245);
}

/** Table Formatting **/
.table_container{
    top:10px;
    position:relative;
    height:575px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: auto;
    margin-right:auto;
    width:1150px;
    border: 1px solid rgb(0, 105, 73);   
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    z-index: 7;   
}

.table_header_container, .scrolling_table {
    position:relative;
    top:0;
    border:none;
    overflow-y: scroll;
}

.table_header_container{
    height:25px;
    z-index: 2;
    background-color:rgb(255,255,254);
    top:0;
    left:0;
    border-bottom: 1px solid rgb(0, 105, 73); 
    border-left: 1px solid white; 
    overflow-x: hidden;
}

.table_header_container a{
   color: black;
   text-decoration:none;
}

.scrolling_table{
    z-index:5; 
    height:550px;
    display:block;
    box-shadow: 0 1px 1px #ccc;
    background-color:white;
}

#table_header, #patients_table{
    top:0px;
    table-layout: fixed;
    font-size: 18px;
    border-collapse: collapse;
    border-spacing:0;
}

#table_header{
    position: relative;
    text-align: center;
    left:-1px;
}

#table_header th,
#patients_table td{
    border-left:solid rgb(0, 105, 73) 1px;
}

#table_header th{
    padding-bottom:4px;
    min-width:152px;
}

#patients_table td{
    padding-left:5px;
    min-width:148px;
}

#patients_table tr:nth-child(even) {
    background: rgb(244, 245, 247);
}

#patients_table tbody tr:hover {
  background: rgb(125,178,161);
  transition: all 0.1s ease-in-out;     
} 

/** Scrollbar **/
.table_header_container::-webkit-scrollbar,
.scrolling_table::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
 
.scrolling_table::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgb(0, 105, 73);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
.scrolling_table::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgb(249, 253, 254);
    -webkit-box-shadow: inset 0 0 1px rgb(0, 105, 73);
    -webkit-border-radius: 10px;
}

.scrolling_table::-webkit-scrollbar-thumb:window-inactive {
	background: white;
}

/** Filters **/
.filters {
    position:absolute;
    overflow:auto;
    width:60%;
    height:450px;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    box-shadow: 8px 8px 5px #888888;
    border:1px solid rgb(0, 105, 73);
    border-radius: 5px;
    z-index: 100;
    background-color:white;
    display: none;
}

.field_filters, .input_filters{
    width:600px;
    height:125px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.field_filters form{
    display: inline; 
    padding-left:5px;
    float:left;
}

/** Button appearance **/
.button_link {
    background:none!important;
    border:none; 
    padding:0!important;
    font: inherit;
    border-bottom:1px solid #444; 
    cursor: pointer;
    text-decoration: none;
}

.option-button {
  position:relative;
  height:24px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-size:14px;
  cursor: pointer;
  text-align: center;
  background-color:rgb(0, 105, 73);
  border-color:rgb(92,159,138);
  margin:2px;
  color: rgb(245,255,245);
  border-width:2px;
  border-radius: 3px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 5px;
}

/** Layout of links **/

.top_link{
    position: fixed;
    top:25%;
    right:0%;
    padding:5px;
    font-size:18px;
    text-align: right;
}

.bottom_link{
    position:absolute;
    bottom:0%;
    right:0%;
    padding:5px;
    font-size:18px;
}

/** Tabs **/
.tabs_header{
    width:100%;
    display:block;
    background-color: white;
    z-index: 15;
}
.tabs_container, .tabs_content {
    position: relative;
	border:none;
	top:0;
	margin:0;
	padding:0;
    font-weight: lighter;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing:0;
    width:1100px;
    left:50%;
    transform:translateX(-50%);
    overflow-x:auto;
    display:inline-table;
}

.tabs_container{
    height:23%;
}
.tabs_container thead{
    background-color: rgb(255, 255, 254);
}
.tabs_content tbody{
    border:none;
    background-color:transparent;
}
.tabs_content td{
    vertical-align:top;
    text-align: center;
    cursor:pointer;
    padding-top:30px;
    top:0;
}
.tabs_content td.inactive{
    cursor: default;
}
.tabs_container th{
    font-weight: lighter;
    margin:0;
    padding: 10px 0;
    border-right: dotted 1px rgb(0, 105, 47);
    background-color: transparent;
    color:black;
}
.tabs_container th.active_tab{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-color: rgb(14, 113, 84);
    background-image: -webkit-linear-gradient(top,rgb(0, 105, 74), rgb(14, 113, 84));
    background-image: -moz-linear-gradient(top,rgb(0, 105, 74), rgb(14, 113, 84));
    background-image: -o-linear-gradient(top,rgb(0, 105, 74), rgb(14, 113, 84));
    background-image: -ms-linear-gradient(top,rgb(0, 105, 74), rgb(14, 113, 84));
    border:none;
}
.tabs_container th.active_tab a{
    color:white;
}

.sign_{
    position:relative;
    right:0px;
    display:inline-block; 
    float:right;
    width:250px;
    height:100%;
}

#logo{
    padding-top:5px;
}

.footer, .footer a{
    color:#DDDDDD;
    font-size: 10px;
    right:0;
}

.hidden{
    display:none;
}

.bottom-right{
    position:fixed; 
    bottom:0; 
    right:0;
}