<div id="welcome_login">
    <h1>Welcome</h1>
    <form action="log_in" method="post">
        <h2>Username:</h2></br>
        <input type="text" id="session_user"/></br>
        <h2>Password:</h2></br>
        <input type="text" id="session_pw"/></br>
        
        <input class="btn btn-primary" name="commit" type="submit" value="Log in" />
    </form>
</div>